@use "@material/typography/mdc-typography";
@use "@material/layout-grid/mdc-layout-grid";

#spaleon {
  max-width: 1024px;
  min-width: 320px;

  .tab-contents {
    padding: 32px;

    div {
      h4 {
        margin-top: 0;
      }
      #conj-search-form {
        display: flex;
        min-width: 256px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        mwc-textfield {
          margin-right: 16px;
        }
        mwc-textfield, mwc-button {
          display: flex;
          flex: 1 1 auto;
        }
      }
      mwc-list-item {
        min-width: 256px;
      }
    }
  }
}
